<!DOCTYPE html>
  <html lang=“en”>
  <head>
    <meta charset=“UTF-8">
    <meta name=“viewport” content=“width=device-width, initial-scale=1.0">
    <meta http-equiv=“X-UA-Compatible” content=“ie=edge”>
    <title>Covid19 Dashboard</title>
    <link rel=“stylesheet” href=“https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/cyborg/bootstrap.min.css”>
    <!-- Load d3.js -->
    <script src=“https://d3js.org/d3.v4.js”></script>
  </head>
  <body>
    <div class=“container”>
      <div class=“row”>
        <div class=“col-md-12 jumbotron text-center”>
          <h1>Covid19 Dashboard</h1>
          <p>Data and Statistics Updates</p>
        </div>
      </div>
    <div class=“row”>
        <div class=“col-md-4">
      <div class=“card border-primary mb-3” style=“max-width: 20rem;“>
        <div class=“card-body”>
        <h4 class=“card-title”>Total Cases</h4>
        <p id=“DashTotalCases” class=“card-text”></p>
        </div>
      </div>
      </div>
        <div class=“col-md-4”>
      <div class=“card border-primary mb-3" style=“max-width: 20rem;“>
        <div class=“card-body”>
        <h4 class=“card-title”>Total Deaths</h4>
        <p id=“DashTotalDeaths” class=“card-text”></p>
        </div>
      </div>
      </div>
        <div class=“col-md-4”>
      <div class=“card border-primary mb-3" style=“max-width: 20rem;“>
        <div class=“card-body”>
        <h4 class=“card-title”>Total Recovered</h4>
        <p id=“DashTotalRec” class=“card-text”></p>
        </div>
      </div>
      </div>
      </div>
    <br>
    <br>
    <div class=“row”>
        <div class=“col-md-12 jumbotron text-center”>
          <div id=“mypie”></div>
        </div>
      </div>
    <br>
    <br>
      <div class=“row”>
        <div class=“col-md-4”>
          <div class=“well”>
            <h4>Select a Country</h4>
            <select id=“selDataset” onchange=“optionChanged(this.value)“>
        <option value =  selected></option>
        </select>
          </div>
      <br>
      <br>
      <div class=“card text-white bg-primary mb-3” style=“max-width: 20rem;“>
        <div class=“card-body”>
        <h4 class=“card-title”>Latest Information</h4>
        <p id=“sample-metadata” class=“card-text”></p>
        </div>
      </div>
      </div>
        <div class=“col-md-8”>
          <div id=“bar”></div>
        </div>
      </div>
      <div id=“my_dataviz”></div>
        <svg width=“1000" height=“500”></svg>
      <div class=“row”>
        <div class=“col-md-12”>
          <div id=“bubble”></div>
        </div>
      </div>
    </div>
    <script src=“https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js”></script>
    <script src=“https://cdn.plot.ly/plotly-latest.min.js”></script>
    <script src=“./app2.js”></script>
    <script src=“./app3.js”></script>
  </body>
  </html>